/*Nav Styling*/
nav {
  text-align: right;
  flex-grow: 1;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

header {
  border-bottom: 1px solid seashell;
  height: 50px;
  position: fixed;
  background-color: black;
  width: 100%;
  z-index: 1;
  align-items: center;
}

header img {
  height: 50px;
  padding-left: 10px;
}

a {
  color: seashell;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}


/*Video and Title Styling Begins*/
* {
  margin: 0;
  padding: 0;
}

div {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

svg {
  width: 100%;
  height: 100%;
  position: absolute;
}

svg mask rect {
  fill: rgba(255, 255, 255, 0.89);
}

svg > rect {
  fill: #555;
  -webkit-mask: url(#mask);
  mask: url(#mask);
}

video {
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
}
/*Video and Title Styling Ends*/
